/*
*筛选部分
*@.container[title="select_box"]  筛选大的BOX
*
*
*
**
*/

body {
    font-family: "微软雅黑", "宋体", Verdana,
}

.container-fluid[mpod="xia"] {
    padding-top: 30px;
}

.containerre[title="select_box"] {
    border: 1px solid #EAECEB;
    margin: 0 auto;
    padding-bottom: 10px;
    height: 323px;
    width: 1200px;
}

.containerre[title="select_box"]>.machine {
    height: 51px;
    overflow: hidden;
    border-bottom: 1px solid #EAECEB;
    min-height: 51px;
    background: #eaeceb;
    font-size: 12px;
    margin-left: 0px;
    font-family: "微软雅黑", "宋体", Verdana, Arial;
}

.containerre[title="select_box"]>.machine[title="vary"] {
    height: auto;
}


/* 分类 */

.machine_sort {
    width: 90px;
    padding-left: 10px;
    color: #515151;
    font-size: 18px;
    line-height: 51px;
    height: 100%;
    float: left;
}

.machine_Kindd {
    padding-left: 10px;
    width: 1000px;
    min-height: 51px;
    background: #FFF;
    float: right;
}

.machine_Kindd>.nolimit {
    font-family: "微软雅黑", "宋体", Verdana, Arial;
    font-size: 16px;
    display: inline-block;
    margin-right: 45px;
    float: left;
    line-height: 51px;
    color: red;
}

.machine_Kindd>.nolimit:hover {
    color: red;
}


/* 展开 */

.machine>.mores_sq {
    float: right;
    color: #000;
    font-size: 12px;
    line-height: 51px;
    display: inline-block;
    text-align: center;
    padding-right: 43px;
    background: #fff;
    height: 102px;
}


/* 选项 */

.machine_Kindd>.nolimit_choice {
    color: #515151;
    font-size: 16px;
    display: inline-block;
    margin-right: 45px;
    float: left;
    line-height: 51px;
}

.machine_Kindd>.nolimit_choice:hover {
    color: #2196f3;
}


/* 已经选择的选项 */

.schon_choice {
    padding-left: 15px;
    padding-right: 25px;
    height: 54px;
    background: #EAECEB;
    width: 1200px;
    color: #222;
    font-size: 14px;
    line-height: 54px;
    margin: 8px auto;
}

.schon_choice>span {
    color: #222;
    font-size: 14px;
    line-height: 54px;
}

.schon_choice>.select {
    background: #FF9800;
    padding-left: 5px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px !important;
    color: #fff !important;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 15px;
    position: relative;
    font-family: "微软雅黑", "宋体", Verdana, Arial;
}

.schon_choice>.select>.glyphicon {
    position: relative;
    left: 19px;
    top: 2px;
}

.schon_choice>.select:hover {
    background: #F00;
}