.home_page{
    background: red;
    height: 900px;
}
/*home_more样式*/
.home_more .container-fluid{
    background: #F2F2F2;
    padding-top: 30px;
    height: 450px;
}
.home_more .m_title{
    color: #474747;
    font-size: 24px;
    padding-bottom: 15px;
    line-height: 35px;
}
.home_more .m_box{
    width: 350px;
    text-align: justify;
    color: rgb(71, 71, 71);
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
    font-family: 黑体;
    letter-spacing: -0.2px;
    height: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-image: initial;
    padding: 12px 22px 10px;
    margin-top: 15px;
}
.m_box .m_box_title{
    text-align: center;
    color: #d92f18;
    font-size: 18px;
    padding-bottom: 5px;
}
.m_box .m_box_a{
    float: right;
    text-decoration: none;
    color: #919191;
}
.m_box .m_box_ul{
    margin-left: 10px;
    width: 344px;
    margin-top: 10px;
}
.m_box_ul a{
    width: 330px;
    height: 33px;
    background: url(../img/point.png) no-repeat left center;
    color: #474747;
    padding-left: 14px;
    font-size: 14px;
    display: inline-block;
    line-height: 33px;

}
.m_box_more{
    color: #474747;
    font-size: 24px;
    display: inline-block;
    line-height: 24px;
    float: right;
}