.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
ul{
    list-style: none;
    padding: 0;
}
.sub_show{
    display: none;
    position: absolute;
    top: 0;
    left: 210px; 
    width: 540px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff; 
}
.show_left{
    float: left;
    width: 200px;
    border-right: 1px solid #ddd;
}
.show_right{
    float: left;
}
.show_right div{
    margin-bottom: 50px;
}
.home_page{
    width: 1200px;
    margin: 0 auto;
    background: orange;
    height: 900px;
}
.home_page .home_page_top{
    height: 554px;
}
.home_page .home_sub_nav{
    float: left;
    background: #fff;
    width: 210px;
    height: 554px;
}
.home_page .home_banner{
    float: right;
    background: green;
    width: 980px;
    height: 554px;
    margin-left: 10px;
}
.sub_nav {
    padding: 0;
    list-style: none;
}
.sub_nav .sub_nav_item{
    position: relative;
} 
.sub_nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.sub_nav .sub_hover {
    width: 100%;
    height: 55px;
    line-height: 55px;
}
.sub_nav .sub_hover:hover {
    background: #ddd;
}
.sub_nav a i {
    display: inline-block;
    width: 36px;
    height: 29px;
    margin: 0 10px;
    vertical-align: middle
} 
.sub_nav a span {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle
}
.bg-crow {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -1px;
}
.bg-hx {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -32px;
}
.bg-leaf {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -63px;
}
.bg-qb {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -94px;
}
.bg-rp {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -125px;
}
.bg-tm {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -156px;
}
.bg-xs {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -187px;
}
.sub_ad{
    margin-top: 35px; 
}
.show_nav li{
    margin-bottom: 15px;
}
/*home_more样式*/
.home_more .container-fluid{
    background: #F2F2F2;
    padding-top: 30px;
    height: 450px;
}
.home_more .m_title{
    color: #474747;
    font-size: 24px;
    padding-bottom: 15px;
    line-height: 35px;
}
.home_more .m_box{
    width: 350px;
    text-align: justify;
    color: rgb(71, 71, 71);
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
    font-family: 黑体;
    letter-spacing: -0.2px;
    height: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-image: initial;
    padding: 12px 22px 10px;
    margin-top: 15px;
}
.m_box .m_box_title{
    text-align: center;
    color: #d92f18;
    font-size: 18px;
    padding-bottom: 5px;
}
.m_box .m_box_a{
    float: right;
    text-decoration: none;
    color: #919191;
}
.m_box .m_box_ul{
    margin-left: 10px;
    width: 344px;
    margin-top: 10px;
}
.m_box_ul a{
    width: 330px;
    height: 33px;
    background: url(../img/point.png) no-repeat left center;
    color: #474747;
    padding-left: 14px;
    font-size: 14px;
    display: inline-block;
    line-height: 33px;

}
.m_box_more{
    color: #474747;
    font-size: 24px;
    display: inline-block;
    line-height: 24px;
    float: right;
}