.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
ul{
    list-style: none;
    padding: 0;
}
.sub_show{
    display: none; 
    position: absolute;
    z-index: 999;
    top: 0;
    left: 210px; 
    width: 540px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff; 
}
.sub_show_qb{
    width: 640px;
}
.show_left{
    float: left;
    width: 206px;
    border-right: 1px solid #ddd;
}
.show_right{
    float: left;
}
.show_right div{
    margin-bottom: 50px;
}
.show_list_item{
    float: left;
    width: 200px;
    height: 150px;
}
.show_list_item span{
    float: left;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: #d92f18;
}
.show_list_item p{
    height: 18px;
    padding-left: 28px; 
    font-size: 14px;
    line-height: 18px;
}
.show_list_item p a{
    font-weight: normal;
}
.home_page{
    width: 1200px;
    margin: 0 auto;
}
.home_page .home_page_top{
    height: 554px;
}
.home_page .home_sub_nav{
    float: left;
    background: #fff;
    width: 210px;
    height: 554px;
}
.home_page .home_banner{
    float: right;
    width: 980px;
    height: 554px;
    margin-left: 10px;
}
.sub_nav {
    padding: 0;
    list-style: none;
}
.sub_nav .sub_nav_item{
    position: relative;
} 
.sub_nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.sub_nav .sub_hover {
    width: 100%;
    height: 55px;
    line-height: 55px;
}
.sub_nav .sub_hover:hover {
    background: #ddd;
}
.sub_nav a i {
    display: inline-block;
    width: 36px;
    height: 29px;
    margin: 0 10px;
    vertical-align: middle
} 
.sub_nav a span {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle
}
.bg-crow {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -1px;
}
.bg-hx {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -32px;
}
.bg-leaf {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -63px;
}
.bg-qb {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -94px;
}
.bg-rp {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -125px;
}
.bg-tm {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -156px;
}
.bg-xs {
    width: 36px; height: 29px;
    background: url('../img/img_home/sub_menu_icon.png') -1px -187px;
}
.sub_ad{
    margin-top: 35px; 
}
.show_nav li{
    margin-bottom: 15px;
}
/*轮播图样式  */
.banner_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.banner_wrap li {
    list-style: none;
}
.banner_wrap .banner_imgs{
    margin: 0;
    height: 100%;
}
.banner_wrap .banner_imgs li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.banner_wrap .banner_imgs a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.banner_wrap .banner_imgs li img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.banner_wrap .banner_num {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.banner_wrap .banner_num li {
    width: 13px;
    height: 13px;
    background: #feaba7;
    cursor: pointer;
    border: 1px solid #7f2925;
    margin-right: 15px;
    display: inline-block;
}

.banner_wrap .banner_num li.banner_active {
    background: #333;
    border-color: #333;
}

.banner_wrap .banner_btn {
    position: absolute;
    top: 50%;
    width: 21px;
    height: 88px;
    margin-top: -44px;
    cursor: pointer;
    opacity: .4;
}

.banner_wrap .banner_btn_left {
    left: 20px;
    background: url("../img/img_home/prev_01.png")
}

.banner_wrap .banner_btn_right {
    right: 20px;
    background: url("../img/img_home/next_01.png")
}

.banner_wrap:hover .banner_btn {
    display: block;
}
/*ad样式  */
.home_page_ad {
    margin: 45px -15px 0;
    height: 420px;
    font-size: 0;
}
.home_page_ad>a:nth-child(2){
    margin: 0 33px;
    background: #fded35;
}
/*销量排行榜的样式  */
.home_salesList {
    margin: 45px -15px 0;
    height: 219px;  
}
.title_01 {
    width: 100%;
}
.title_warp{
    height: 45px;
    border-bottom: 1px solid #4b4b4b;
}
.title_warp strong {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    font-weight: normal;
    vertical-align: middle;
}
.title_warp span {
    display: inline-block;
    margin: 18px 0 0 20px;
    padding-left: 10px;
    height: 15px;
    border-left: 1px solid #828282;
    line-height: 15px;
    font-size: 14px;
    vertical-align: top;
}
.home_salesList_content ul{
    position: relative;
    margin: 9px 0 0;
    padding: 0;
    height: 165px;
    overflow: hidden; 
}
.home_salesList_content li{
    position: absolute;
    list-style: none;
    top: 0;
}
.home_salesList_content li:nth-child(1){
    left: 0;
}
.home_salesList_content li:nth-child(2){
    left: 768px;
}
.home_salesList_content li:nth-child(3){
    left: 912px;
}
.home_salesList_content li:nth-child(4){
    left: 1056px;
}
/*home_day样式  */
.home_day_show{
    width: 1200px;
    overflow: hidden;
    margin: 0 -15px;
}
.home_day {
    margin-top: 45px;
    width: 1238px;
}
.day_warp {
    float: left;
    width: 581px;
    margin-right: 38px;
}
.day_title {
    width: 100%;
    padding: 0 15px;
    background: url("../img/img_home/bg_02.png");
}
.day_title span{
    height: 41px;
    line-height: 41px;
    color: #fff;
    font-size: 18px
}
.day_title span:nth-child(1) {
    float: left;
    padding-left: 48px;
}
.day_title span:nth-child(2) {
    float: right;
}
.day_morning .day_title span:nth-child(1){
    background: url('../img/img_home/bg_t.png') -10px -6px no-repeat;
}
.day_morning .day_title1 span:nth-child(1){
    background: url('../img/img_home/bg_t.png') -10px -60px no-repeat;
}
.day_morning .day_title2 span:nth-child(1){
    background: url('../img/img_home/bg_t.png') -10px -115px no-repeat;
}
.day_warp a{
    display: inline-block;
    vertical-align: middle;
}
.day_warp_ul a{
    width: 114px;
    height: 164px;
    text-align: center
}
.day_warp_ul {
    padding-top: 10px;
    height: 182px; 
    font-size: 0;
    border: 1px solid #f2f2f2;
}
.day_warp_ul li{
    display: inline-block;
    margin-left: 25px;
}
.day_warp_ul a img{
    width: 106px;
    height: 106px;
    border: 1px solid #bfbfbf;
}
 .day_warp_ul a p{
    height: 28px;
    padding: 0;
    margin: 0;
    line-height: 28px;
    font-size: 14px;
    color: #6e6e6e;
} 
/*home_hot样式  */
.home_hots{
    margin: 45px -15px 0;
}
.home_hot_show{
    float: left;
    width: 995px;
    overflow: hidden;
}
.phone_app{
    float: right;
    width: 175px;
    height: 100px;
    margin-top: 45px; 
}
.phone_app img{
    width: 100%;
}
.phone_app a{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}
.home_hot {
    width: 999px;
}
.home_hot_content a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 4px;
    background: #f4f4f2;
    text-align: center;  
}
.home_hot_content .hot_content{
    width: 188px;
    height: 197px;
    padding-top: 17px;
} 
.home_hot_content .hot_content p{
    margin: 0;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
/*home_classis样式  */
.home_classis{
    margin: 45px -15px 0;
    overflow: hidden;
}
.home_classis {
    width: 1220px;
}
.home_classis li {
    float: left;
    margin-right: 20px;
}
.classis_info>*{
    float: left;
}
.classis_a{
    display: block;
    width: 285px;
    height: 400px;
    border: 1px solid #bfbfbf;
}
.classis_img{
    width: 283px;
    height: 283px;
}
.classis_infos{
    width: 170px;
    margin: 18px 0 0 10px;
    overflow: hidden;
}
.classis_info img{
    width: 93px;
    height: 93px;
    margin-top: 13px;
    margin-left: 4px;
}
.classis_info p {
    white-space: nowrap;
    margin: 0;
}
.classis_title {
    font-family: "黑体";
    font-size: 16px;
    width: 122px;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.classis_cinfo, .classis_cinfo_price{
    height: 24px;
    font-family: "黑体";
    font-size: 12px;
    color: #4d4d4d;
    line-height: 24px;
}
.classis_content>li{
    margin-bottom: 60px;
}
/*home_more样式*/
.home_more .container-fluid{
    background: #F2F2F2;
    padding-top: 30px;
    height: 450px;
}
.home_more .m_title{
    color: #474747;
    font-size: 24px;
    padding-bottom: 15px;
    line-height: 35px;
}
.home_more .m_box{
    width: 350px;
    text-align: justify;
    color: rgb(71, 71, 71);
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
    font-family: 黑体;
    letter-spacing: -0.2px;
    height: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-image: initial;
    padding: 12px 22px 10px;
    margin-top: 15px;
}
.m_box .m_box_title{
    text-align: center;
    color: #d92f18;
    font-size: 18px;
    padding-bottom: 5px;
}
.m_box .m_box_a{
    float: right;
    text-decoration: none;
    color: #919191;
}
.m_box .m_box_ul{
    margin-left: 10px;
    width: 344px;
    margin-top: 10px;
}
.m_box_ul a{
    width: 330px;
    height: 33px;
    background: url(../img/point.png) no-repeat left center;
    color: #474747;
    padding-left: 14px;
    font-size: 14px;
    display: inline-block;
    line-height: 33px;

}
.m_box_more{
    color: #474747;
    font-size: 24px;
    display: inline-block;
    line-height: 24px;
    float: right;
}