html,body{
    height: 100%;
}
.lens_wrap {
    width: 1210px;
    height: 800px;
    border: 1px solid gray;
    margin: 50px auto;

}
.lens_wrap .select_box{
    width: 1189px;
    border: 1px solid #EAECEB;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
}
.lens_wrap .select_box>div{
    width: 90px;
    padding-left: 10px;
    color: #515151;
    font-size: 18px;
    line-height: 51px;
    height: 100%;

}





  