.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.shopcart_page {
    width: 1000px;
    margin: 0 auto;
}

.cart_nav img {
    float: right;
    margin-bottom: 30px;
}
.cart_title {
    margin-bottom: 15px;
}
.cart_title span {
    display: inline-block;
}

.cart_title_img {
    width: 100px;
    height: 20px;
    background: url("../img/img_cart/my_cart_title.png");
    vertical-align: middle
}

.cart_goods_list {
    border: 1px solid #ddd;
    border-top: 2px solid #999;
    margin-bottom: 20px;
}

.cart_title_info {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #404040;
    vertical-align: middle;
}

.cart_goods_list table {
    width: 998px;
    font-size: 12px;
    background: #fff;
}
.table_header {
    color: #404040;
}
.lab{
    display: inline-block;
    width: 60px;
    margin-left: -10px;
}
.cart_goods_list .selectAll{
    margin-left: -10px;
}
.cart_goods_list table tr{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.cart_goods_list .table_header {
    text-align: center;
    height: 36px;
    background: #f7f7f7;
}
.table_header td:nth-child(1){
    width: 120px;
}
.table_header td:nth-child(2){
    width: 263px;
}
.table_header td:nth-child(3){
    width: 123px;
}
.table_header td:nth-child(4){
    width: 64px;
}
.table_header td:nth-child(5){
    width: 77px;
}
.table_header td:nth-child(6){
    width: 139px;
}
.table_header td:nth-child(7){
    width: 77px;
}
.table_header td:nth-child(8){
    width: 135px;
}
.cart_goods_list table img{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.goods_mid{
    height: 49px;
}
.goods_mid p{
    text-align: right;
    margin: 0 15px 0 0;
}
.goods_mid td:nth-child(2){
    text-align: right;
    padding-right: 14px;
}
.cart_goods_list .goods_btm {
    height: 49px;
    background: #f7f7f7;
    border: none
}
.goods_btm td{
    padding-top: 10px;
    padding-right: 14px;
    text-align: right;
}
.goods_btm td i{
    font-style: normal
}
.goods_btm td p>*{
    font-size: 20px;
    color: #e4393c;
    vertical-align: middle;
}