<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>新品界面</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="icon" href="__ROOT__/animated_favicon.gif" type="image/gif"> 
    <link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/css/home.css" />
    <!-- 头部尾部侧边栏CSS -->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/css/guard.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Index/Common/css/lens.css" />  
    <script type="text/javascript" src="__ROOT__/Index/Common/js/jquery.min.js"></script>
 
    <script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
    <style>
        .new_product {
            width: 1200px;
            position: relative;
            margin: 0 auto;
        }
        
        .Return_home {
            margin-bottom: -50px;
            position: absolute;
            top: -18px;
            left: 0px;
            color: #333;
        }
        
        .Return_home>code {
            color: #333;
        }
    </style>
</head>

<body ng-app="myapps" ng-controller="mynewProduct">
    <!-- 头部 -->
    <div>
        <include file="Public:header" />
    </div>

    <div class="new_product">
        <!--首页 > 新品上市  -->
        <div class="Return_home">
            <a href="__APP__/Index/index">首页</a>
            <code>></code>新品上市
        </div>
        <!--产品展示界面  Product_box产品盒子-->
        <div class="Product_box">
            <div class="Product_container">
                <div class="Product_item" ng-cloak ng-repeat="v in newProductList">
                    <div class="item_01">
                        <a href="__APP__/ProductDetails/index?id={{v.id}}"><img ng-src="__ROOT__/{{v.bgImg}}" alt=""></a>
                        <a style="width:100px;height:100px;" href="__APP__/ProductDetails/index?id={{v.id}}"><img ng-src="__ROOT__/{{v.productImg}}" alt=""></a>
                    </div>
                    <div class="item_02">
                        <a href="##" title="{{v.productName}}">{{v.productName}}</a>
                    </div>
                    <div class="item_03">
                        <!--
                            item_layer 下层
                        -->
                        <div class="Next_layer">
                            <div class="Next_layer01">
                                <div>{{v.salesVolume}}</div>
                                <div>
                                    <a href="##">180</a>
                                </div>
                            </div>
                            <div class="Next_layer02">
                                <div>￥<span>{{v.wlPrice}}</span></div>
                                <div id="like"></div>
                            </div>
                            <div class="Next_layer03">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--分页·paging -->
        <div ng-cloak class="pager">
            <a href="javascript:void(0);" ng-click="skip(0)">«首页</a>
            <a href="javascript:void(0);" ng-click="pre(index-1)">上一页</a>
            <a ng-repeat="v in range(0, count)" ng-class="{true:'current', false: ''}[index == v]" ng-click="skip(v)" href="javascript:void(0);">{{v + 1}}</a>
            <a href="javascript:void(0);" ng-click="nexts(index+1)">下一页</a>
            <a href="javascript:void(0);" ng-click="skip(count - 1)">尾页»</a>
            <span><i style="font-style: normal">{{index + 1}}</i>/共<i style="font-style: normal">{{count}}</i>页</span>
        </div>
    </div>


    <!--底部  -->
    <div class="header">
        <include file="Public:footer" />
    </div>

    <!-- 侧边栏 -->
    <include file="Public:sidebar" />
    <script type="text/javascript" src="__ROOT__/Index/Common/js/sidebar.js"></script>
    <script src="__ROOT__/Index/Common/js/accesories.js"></script>
</body>
<script>
    var app = angular.module("myapps",[]);
    app.controller("mynewProduct",function($scope,$http){
        $scope.newProductList = "";
        $scope.index = 0;
        $http.get("__APP__/newProduct/getNewProducts").success(function(data){
            if (data.status == 1) {
                $scope.newProductList = data['data'];
                $scope.count = data.count;
            } else {
                alert("系统繁忙，请稍后...");
            }
        })
        $scope.range = function(min, max, step) {
            step = step || 1;
            var input = [];
            for (var i = min; i < max; i += step) {
                input.push(i);
            }
            return input;
        };
        $scope.skip = function(page){
            $scope.index = page;
            getPageData(page);
        }
        $scope.pre = function(page){
            if (page < 0) {
                $scope.index = 0;
            } else {
                $scope.index = page;
            }
            getPageData($scope.index);
        }
        $scope.nexts = function(page){
            if (page >= $scope.count) {
                $scope.index = $scope.count - 1;
            } else {
                $scope.index = page;
            }
            getPageData($scope.index);
        }
        function getPageData(page) {
            $http({
                url: "__APP__/Lens/getNewPage",
                method: "post",
                data: {
                    page: page
                },
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            }).success(function(data){
                $scope.newProductList = data['data'];
                $scope.count = data.count;
            })
        }
    })
</script>
</html>